body {
    background-image: url("../img/fondo.jpg");
    background-color: #cccccc;
}


.bannerborde{

    border-radius: 0px 42px 0px 71px;
    -moz-border-radius: 0px 42px 0px 71px;
    -webkit-border-radius: 0px 42px 0px 71px;
    border: 0px solid #000000; 
    
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);

}